body {
    margin: 0;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#player-container {
    width: 99%;
    height: 99%;
    background: #1e1e1e;
}
#player {
    width: 100%;
    height: 100%;
    margin: 1px;
}
